.plots {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.plots-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 70px;
    margin-bottom: 20px;
}