{% extends 'web/base_template.html' %}
{% load static %}

{% block title %}{{ category.name }} | English Vocabulary Trainer{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/category.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'web/js/cookie_utils.js' %}"></script>
<script src="{% static 'web/js/category.js' %}"></script>
{% endblock %}


{% block content %}
<div class="category-header">
    <h2>Категории словаря</h2>
</div>

<div class="categories">
    {% for category in categories %}
        {% if forloop.counter0|divisibleby:4 %}<div class="category-row">{% endif %}

        <a href="{% url 'categories_wordlist' category.name %}" class="category-link">
            <div class="category-card">
                <h3>{{ category.name }}</h3>
            </div>
            {% if user.is_authenticated %}
            <input type="checkbox"
                    id="cat-{{ category.id }}"
                    class="category-checkbox"
                    data-id="{{ category.id }}"
                    {% if category.id in user_selected_categories %}checked{% endif %}>
            {% endif %}
        </a>

        {% if forloop.counter|divisibleby:4 or forloop.last %}</div>{% endif %}
    {% empty %}
        <div class="empty-categories">
            <p>Пока нет ни одной категории</p>
        </div>
    {% endfor %}
</div>

<div class="text-center my-4">
    <a href="{% url 'add_category' %}" class="btn-primary">+ Добавить категорию</a>
</div>

{% endblock %}