{% extends 'web/base_template.html' %}
{% load static %}
{% block title %}{{ category.name }} | English Vocabulary Trainer{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/css/category.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'web/js/cookie_utils.js' %}"></script>
<script src="{% static 'web/js/category.js' %}"></script>
{% endblock %}


{% block content %}
<div class="category-header">
    <h1 style="margin-top: 30px;">Категории словаря</h1>
</div>

<div class="categories">
    {% for category in categories %}
        {% if forloop.counter0|divisibleby:4 %}<div class="category-row">{% endif %}

        <a href="{% url 'categories_wordlist' category.id %}" class="category-link">
            <div class="category-card">
                <h3>{{ category.name }}</h3>
            </div>
            {% if user.is_authenticated %}
                <input type="checkbox"
                    id="cat-{{ category.id }}"
                    class="category-checkbox"
                    data-id="{{ category.id }}"
                    {% if category.id in user_selected_categories %}checked{% endif %}>
                <label for="cat-{{ category.id }}" title="Добавить категорию на изучение"></label>
            {% endif %}
        </a>

        {% if forloop.counter|divisibleby:4 or forloop.last %}</div>{% endif %}
    {% empty %}
        <div class="empty-categories">
            <p>Пока нет ни одной категории</p>
        </div>
    {% endfor %}
</div>

{% if user.is_authenticated %}
    <div class="section">
        <h2>Добавление категории</h2>
        <a class="test-link" href="{% if user.is_authenticated %}{% url 'add_category' %}{% else %}{% url 'login' %}?next={% url 'add_category' %}{% endif %}" class="add-new">
            + Добавить категорию
        </a>
    </div>
{% endif %}

{% endblock %}