{% extends 'web/base_template.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/css/main.css' %}">
{% endblock %}

{% block content %}
<div class="search-bar">
    <input type="text" placeholder="Q Искать слова...">
</div>

<div class="intro">
    <h2>Улучшите свой словарный запас</h2>
    <p>Изучайте слова по категориям и отслеживайте свой прогресс.</p>
</div>

<div class="categories">
    {% for category in categories %}
    <a href="{% url 'category' category.id %}" class="category-link">
        <div class="category-card">
            <h3>{{ category.name }}</h3>
        </div>
    </a>
    {% endfor %}
</div>

<div class="text-center my-4">
    <a href="{% url 'add_category' %}" class="btn-primary">+ Добавить категорию</a>
</div>
{% endblock %}