{% extends 'web/base_template.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/css/learning.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'web/js/cookie_utils.js' %}"></script>
<script src="{% static 'web/js/learning_session.js' %}"></script>
<script src="{% static 'web/js/new_words.js' %}"></script>
{% endblock %}

{% block title %}Учить слова | English Vocabulary Trainer{% endblock %}

{% block content %}
<h1 style="margin-bottom: 40px; text-align: center; margin-top: 50px;">Изучение слов</h1>
    
<div class="flashcard-container">
    <div class="flashcard" id="flashcard">
        <div class="word" id="word"></div>
        <div class="transcription" id="transcription"></div>
        <div class="translation" id="translation"></div>
    </div>
    
    <div class="controls" id="controls">
        <button class="btn btn-know" id="btnKnow">Знаю это слово</button>
        <button class="btn btn-dont-know" id="btnDontKnow">Начать учить это слово</button>
    </div>

    <div class="no-words-message" id="noWordsMessage" style="display: none;">
        <h2>Вы изучили все слова!</h2>
        <p>Хотите выбрать новые категории для изучения?</p>
        <a href="/categories" class="btn btn-large learning-link">Выбрать категории</a>
    </div>
</div>
{% endblock %}